python -m pip install numpy==1.22.0
python -m pip install streamlit==1.9.2
python -m pip install Pillow==9.0.0
python -m pip install keras==2.8.0
python -m pip install tensorflow==2.8.0
python -m pip install matplotlib==3.5.1
python -m pip install requests==2.26.0
